In [2]:
#import packages for data manipulation
import numpy as np
import pandas as pd

In [3]:
df_New_Main = pd.read_excel('TAMU_NewForm_Main_20170817.xlsx')
df_New_Contractors = pd.read_excel('TAMU_NewForm_Contractors_20170817.xlsx')
df_New_Personnel = pd.read_excel('TAMU_NewForm_Personnel_20170817.xlsx')
df_Old_Contractors = pd.read_excel('TAMU_OldForm_Contractors_20170817.xlsx')
df_Old_Current_Officers = pd.read_excel('TAMU_OldForm_CurrentOfficers_20170817.xlsx')
df_Old_Employees = pd.read_excel('TAMU_OldForm_Employees_20170817.xlsx')
df_Old_Officers = pd.read_excel('TAMU_OldForm_FormerOfficers_20170817.xlsx')
df_Old_Main = pd.read_excel('TAMU_OldForm_Main_20170817.xlsx')

In [4]:
df_New_Main.describe()

,RecordID,ALL_YEAR_EMPLOYEES,TOTAL_COMP_ORG,TOTAL_COMP_RELATED_ORG,TOTAL_COMP_OTHER,TOTAL_PERSONS_100000,FED_CAMPAIGNS,MEMBERSHIP_DUES,FUNDRAISING,RELATED_ORGS,...,EXPENSE_E_TOTAL,EXPENSES_TOTAL,ALL_OTHER_EXPENSES,JOINT_TOTAL,JOINT_FUNDRAISING,JOINT_GENERAL,JOINT_SERVICES,TOTAL_MANAGEMENT,TOTAL_FUNDRAISING,Unnamed: 132
count,3.072200e+04,28890.000000,2.510400e+04,1.993800e+04,2.163500e+04,22810.000000,4.041000e+03,7.730000e+03,7.152000e+03,3.553000e+03,...,6.253000e+03,3.053900e+04,1.859400e+04,6.260000e+02,3.770000e+02,384.000000,4.090000e+02,2.731300e+04,2.583500e+04,2.000000
mean,1.261546e+06,96.771374,1.831821e+05,8.760006e+04,3.205243e+04,5.154713,6.955561e+04,2.634298e+05,1.841113e+05,4.357409e+05,...,1.206046e+05,6.543634e+06,1.548887e+05,3.206195e+05,1.693127e+05,34129.559896,2.486420e+05,7.501902e+05,6.399312e+04,11023.000000
std,6.482611e+05,3957.784154,8.562509e+05,5.935589e+05,1.542456e+05,253.164941,3.155850e+05,3.262203e+06,3.622731e+06,3.100629e+06,...,1.306196e+06,7.326949e+07,2.573439e+06,1.430559e+06,6.479716e+05,125204.300449,1.001579e+06,7.568477e+06,5.445583e+05,15588.876098
min,6.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-5.000000e+01,-1.657000e+03,-1.902730e+05,...,-2.608982e+06,-3.263557e+06,-1.357114e+07,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,-2.168897e+06,-1.840000e+02,0.000000
25%,7.386322e+05,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,2.312500e+02,0.000000e+00,0.000000e+00,...,2.184000e+03,1.979560e+05,1.473250e+03,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,8.939000e+03,0.000000e+00,5511.500000
50%,1.229548e+06,5.000000,4.984200e+04,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,9.843500e+03,1.131850e+04,0.000000e+00,...,8.897000e+03,5.280190e+05,1.124050e+04,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,6.035100e+04,0.000000e+00,11023.000000
75%,1.804169e+06,24.000000,1.220240e+05,0.000000e+00,1.423400e+04,0.000000,3.411400e+04,7.318875e+04,6.535575e+04,4.694600e+04,...,3.289500e+04,1.761294e+06,4.946200e+04,1.253000e+03,3.702000e+03,17.000000,2.259000e+04,2.272890e+05,1.313400e+04,16534.500000
max,2.427795e+06,631790.000000,5.352292e+07,2.695567e+07,6.213721e+06,33616.000000,8.159219e+06,1.855397e+08,1.475317e+08,1.104854e+08,...,5.774109e+07,4.353104e+09,2.726375e+08,1.820834e+07,4.269487e+06,991986.000000,1.393852e+07,4.807382e+08,2.933237e+07,22046.000000

In [9]:
df_New_Contractors.describe()

           RecordID  CONTRACTOR_ID          COMP
count  1.072800e+04   10728.000000  9.589000e+03
mean   1.308037e+06  376306.959638  1.476452e+06
std    7.193993e+05  187099.130788  1.086520e+07
min    8.269000e+03    2667.000000  0.000000e+00
25%    6.435555e+05  220516.750000  1.537490e+05
50%    1.263412e+06  376040.500000  2.736280e+05
75%    1.943861e+06  538443.500000  6.490890e+05
max    2.424696e+06  696688.000000  5.711395e+08

In [10]:
df_New_Personnel.describe()

           RecordID      COMP_ORG  COMP_RELATED_ORG    COMP_OTHER
count  3.342110e+05  3.180730e+05      3.131740e+05  3.147160e+05
mean   1.232865e+06  1.451994e+04      5.595105e+03  2.207541e+03
std    6.479118e+05  6.403289e+04      6.196000e+04  1.693015e+04
min    6.000000e+00  0.000000e+00      0.000000e+00 -6.575100e+04
25%    7.040570e+05  0.000000e+00      0.000000e+00  0.000000e+00
50%    1.199788e+06  0.000000e+00      0.000000e+00  0.000000e+00
75%    1.776164e+06  0.000000e+00      0.000000e+00  0.000000e+00
max    2.427795e+06  5.785542e+06      7.455630e+06  2.259704e+06

In [11]:
df_Old_Contractors.describe()

             FIN_ID  FiscalYearEnd  compensation
count  4.649000e+03    4649.000000  4.648000e+03
mean   1.021590e+08    2006.872661  8.346587e+05
std    2.532121e+05       0.886237  5.989441e+06
min    1.016186e+08    2005.000000  0.000000e+00
25%    1.019449e+08    2006.000000  7.539175e+04
50%    1.022284e+08    2007.000000  1.345000e+05
75%    1.023945e+08    2008.000000  3.304692e+05
max    1.025004e+08    2008.000000  2.965559e+08

In [13]:
df_Old_Current_Officers.describe()

,FIN_ID,FiscalYearEnd,salary,contributions,expense_account
count,3.841610e+05,384161.000000,3.461670e+05,3.328990e+05,330832.000000
mean,8.396083e+07,2003.291768,6.904256e+03,6.996050e+02,107.342990
std,3.818545e+07,3.139287,3.208692e+04,9.154196e+03,1908.354913
min,1.122000e+03,1998.000000,-6.226300e+04,-2.095300e+04,0.000000
25%,1.002539e+08,2001.000000,0.000000e+00,0.000000e+00,0.000000
50%,1.012174e+08,2003.000000,0.000000e+00,0.000000e+00,0.000000
75%,1.019019e+08,2006.000000,0.000000e+00,0.000000e+00,0.000000
max,1.025027e+08,2008.000000,3.831222e+06,1.573499e+06,401808.000000

In [14]:
df_Old_Employees.describe()

,FIN_ID,FiscalYearEnd,salary,contributions,expense_account
count,2.085800e+04,20858.000000,2.075800e+04,1.926600e+04,15632.000000
mean,8.887457e+07,2003.796912,8.888277e+04,7.139572e+03,513.036784
std,3.341073e+07,3.001843,7.406389e+04,1.241104e+04,3358.712248
min,6.072000e+03,1998.000000,-4.405000e+04,-3.540000e+02,0.000000
25%,1.006029e+08,2001.000000,5.692600e+04,0.000000e+00,0.000000
50%,1.014190e+08,2004.000000,6.888500e+04,4.294000e+03,0.000000
75%,1.019944e+08,2006.000000,9.330300e+04,9.556000e+03,0.000000
max,1.025012e+08,2008.000000,4.280273e+06,1.007260e+06,122050.000000

In [15]:
df_Old_Officers.describe()

,FIN_ID,FiscalYearEnd,compensation,contributions,expense_account
count,9.980000e+02,998.000000,887.000000,7.570000e+02,752.000000
mean,1.021183e+08,2006.776553,39533.473506,1.525603e+04,386.315160
std,2.578290e+05,0.902005,84663.394869,1.604499e+05,1773.163855
min,1.016186e+08,2005.000000,0.000000,0.000000e+00,0.000000
25%,1.019133e+08,2006.000000,0.000000,0.000000e+00,0.000000
50%,1.021151e+08,2007.000000,9000.000000,0.000000e+00,0.000000
75%,1.023685e+08,2007.000000,40994.500000,2.774000e+03,0.000000
max,1.025019e+08,2008.000000,904894.000000,3.831222e+06,29167.000000

In [16]:
df_Old_Main.describe()

,fin_id,FiscalYearEnd,address_line3,comp_current,comp_disqualified,wages_total,pension_total,employee_benefits_total,payroll_tax_total,accounting_fees_total,...,cost_goods,gross_profit,revenue_other,revenue_total,program_services,management,fundraising,payments,Expenses_Total,Unnamed: 67
count,3.796900e+04,37969.000000,0.0,8.054000e+03,3.232000e+03,3.086600e+04,2.298700e+04,2.682100e+04,2.943000e+04,2.975600e+04,...,3.463300e+04,3.483600e+04,3.555400e+04,3.786700e+04,3.764600e+04,3.738800e+04,3.552300e+04,3.428400e+04,3.782800e+04,1.0
mean,8.449309e+07,2003.295768,NaN,1.023674e+05,7.733606e+03,1.623427e+06,5.565854e+04,2.238238e+05,1.116628e+05,7.786096e+03,...,4.044426e+04,2.451234e+04,7.631903e+04,4.448460e+06,3.440864e+06,5.217104e+05,4.395262e+04,9.643443e+03,4.133981e+06,3096.0
std,3.770805e+07,3.126615,NaN,3.340284e+05,1.873442e+05,1.906334e+07,6.144734e+05,2.558973e+06,1.297680e+06,3.224759e+04,...,5.874914e+05,3.083844e+05,1.720303e+06,4.660973e+07,3.934938e+07,5.624288e+06,4.987372e+05,2.803355e+05,4.379172e+07,NaN
min,4.370000e+02,1998.000000,NaN,0.000000e+00,0.000000e+00,-3.329440e+05,-3.237300e+04,-9.300000e+03,-9.448000e+03,-1.519000e+04,...,-5.978050e+05,-2.124917e+06,-1.361114e+07,-6.208306e+06,-4.908240e+05,-4.536492e+06,-1.759300e+04,-5.773330e+05,-4.538492e+06,3096.0
25%,1.002622e+08,2001.000000,NaN,0.000000e+00,0.000000e+00,5.725000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,1.107150e+05,6.074250e+04,3.413750e+03,0.000000e+00,0.000000e+00,9.738425e+04,3096.0
50%,1.011987e+08,2003.000000,NaN,2.986750e+04,0.000000e+00,7.562800e+04,0.000000e+00,1.801000e+03,6.555500e+03,1.250000e+03,...,0.000000e+00,0.000000e+00,0.000000e+00,3.239570e+05,2.059460e+05,3.284400e+04,0.000000e+00,0.000000e+00,2.898810e+05,3096.0
75%,1.019160e+08,2006.000000,NaN,8.997875e+04,0.000000e+00,4.189815e+05,2.516000e+03,3.848000e+04,3.176900e+04,6.276500e+03,...,0.000000e+00,0.000000e+00,2.421000e+03,1.270884e+06,8.535358e+05,1.472175e+05,4.896000e+03,0.000000e+00,1.153514e+06,3096.0
max,1.025027e+08,2008.000000,NaN,1.087156e+07,8.655400e+06,1.336912e+09,3.022990e+07,1.489334e+08,9.235256e+07,1.709120e+06,...,3.764764e+07,2.338210e+07,2.297299e+08,3.239740e+09,2.762899e+09,4.344319e+08,3.312088e+07,2.623975e+07,2.932932e+09,3096.0

In [14]:
df_NEW_by_year = pd.DataFrame(df_New_Main.groupby(['PERIOD_END'])['CONTRIB_ALL'].sum())

In [20]:
df_NEW_by_year.index

DatetimeIndex(['2007-12-31', '2008-05-31', '2008-06-01', '2008-06-30',
               '2008-08-31', '2008-09-30', '2008-12-20', '2008-12-27',
               '2008-12-31', '2009-01-30',
               ...
               '2015-06-03', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-01',
               '2015-12-21', '2015-12-31'],
              dtype='datetime64[ns]', name='PERIOD_END', length=139, freq=None)

In [22]:
df_NEW_by_year.plot.scatter(x=index, y = 'CONTRIB_ALL')

KeyError: 'index'